<div class="author">
  <h1 class="author__heading">Hi, I am Jarett</h1>
  <p class="author__body">Web Developer and Content Creator</p>
</div>

<img
  src="/img/city1.jpg"
  alt="hero image"
  class="hero-image"
  width="981"
  height="528"
/>

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">
    <% data.forEach(el => { %>

    <li>
      <a href="/post/<%= el._id %>">
        <span><%= el.title %></span>
        <span class="article-list__date"
          ><%= el.createdAt.toLocaleDateString() %></span
        >
      </a>
    </li>

    <% }) %>
  </ul>
  <% if (nextPage || prevPage) { %>
  <div class="pagination-div">
    <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination"
      >&lt; View Older Posts</a
    >
    <% } if (prevPage !== null) { %>
    <a href="/?page=<%= prevPage %>" class="pagination">Previous Page &gt;</a>

    <%}%>
  </div>
  <% } %>
</section>
